In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
companies = pd.read_csv('../../companies.csv')

In [3]:
companies.head()

         Date   Last   Open    Max    Min    Vol  Var_%  Company
0  2019-10-22  92.05  91.60  92.70  91.40  52.67  -0.05  Acciona
1  2019-10-21  92.10  91.35  92.10  90.80  56.13   0.99  Acciona
2  2019-10-18  91.20  92.10  92.55  90.90  54.43  -0.98  Acciona
3  2019-10-17  92.10  92.10  92.35  91.25  70.36   0.11  Acciona
4  2019-10-16  92.00  91.20  92.70  90.75  73.84   0.33  Acciona

In [4]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70806 entries, 0 to 70805
Data columns (total 8 columns):
Date       70806 non-null object
Last       70806 non-null float64
Open       70806 non-null float64
Max        70806 non-null float64
Min        70806 non-null float64
Vol        70806 non-null float64
Var_%      70806 non-null float64
Company    70806 non-null object
dtypes: float64(6), object(2)
memory usage: 4.3+ MB

In [6]:
#companies.to_csv('Clean dfs/companies_clean.csv', index=False)